<header class="bg-primary">
  <nav class="container sm:flex sm:px-[36px] xl:px-0">
    <div class="ml-4 py-4 xl:ml-0">
      <h1 class="flex h-full w-20 items-center">
        <a href="<%= base %>index.html">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
            alt="logo"
          />
        </a>
      </h1>
    </div>
    <ul
      class="flex flex-wrap text-white sm:w-full sm:flex-nowrap sm:items-center sm:justify-end sm:gap-10 md:gap-16"
    >
      <li class="header-menu-item">
        <a href="<%= base %>optical.html" class="header-menu-item-link"
          >系列鏡框</a
        >
      </li>
      <li class="header-menu-item">
        <a href="<%= base %>store.html" class="header-menu-item-link"
          >門市據點</a
        >
      </li>
      <li class="header-menu-item">
        <a href="<%= base %>blog.html" class="header-menu-item-link">部落格</a>
      </li>
      <li class="header-menu-item">
        <a href="<%= base %>question.html" class="header-menu-item-link"
          >常見問題</a
        >
      </li>
    </ul>
  </nav>
</header>
